.mb-3
{
    background-color:lightblue;
    text-transform: uppercase;
    color:red;
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 25px;
}
.icon{
    margin-right: 75px;
    margin-top: 50px;
  }
  .icon i{
    font-size: 35px;
    color: #00A8FF;
    border: 3px solid;
    border-radius: 50%;
    padding: 5px ;
    margin-left: 30px;
    cursor: pointer;
  }
  .social_icon ul :hover{
    color:red;
    background: greenyellow;
  }
  .footer_style{
    background-color: #a29bfe!important;
    margin-bottom: 25px;
  }
  
  .footer_style p{
    margin-bottom: 0!important;
  }